table{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid green;
}


td,th{
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}
tr:hover{background-color: coral;}
tr:nth-child(even){background-color: #f2f2f2;}

th{background-color: tomato;}